@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  justify-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: "#230000";
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.map-screen {
  height: 500px;
  width: 90vw;
  margin: 0 auto;
}

.marker {
  height: 25px;
  width: 25px;
  background-color: orange;
  border-radius: 25px;
}
.marker-delivery {
  height: 25px;
  width: 25px;
  background-color: red;
  border-radius: 25px;
}

.main-container {
  width: auto;
  border: 1px solid red;
}

.zoom-container {
  position: absolute;
  width: fit-content;
  top: 0;
  z-index: 100;
}

.zoom-buttons {
  height: 35;
  width: 35;
  background-color: black;
  color: white;
  border: 1px dotted white;
  position: relative;
}

.table-header-row {
}

.data-col {
  display: flex;
  /* border: 3px solid red; */
  /* background-color: grey; */
  width: 30%;
  height: 100px;
}
